{{define "index"}}
    {{ template "header" }}
    <body>    
      <div class="container">
        <a href="/new" class="btn btn-primary">New Task</a>
        
        <table class="table table-hover" border="1">
          <thead>
          <tr>
            <th>ID</th>
            <th>Detail</th>
            <th>PIC</th>
            <th>Deadline</th>
            <th>Status</th>             
            <th>Action</th>             
          </tr>
           </thead>
           <tbody>
        {{ range . }}
          <tr>
            <td>{{ .Id }}</td>
            <td> {{ .Detail }} </td>
            <td>{{ .Pic }} </td> 
            <td>{{ .Deadline }} </td> 
            <td>{{ .Isdone }} </td>             
            <td><a href="/edit?id={{ .Id }}">Edit</a></td>             
          </tr>
        {{ end }}
           </tbody>
        </table>
      </div>
        
    {{ template "footer" }}
{{end}}